body,html {
            margin:0;
            height:100%;
            width:100%;
        }

body {
            overflow:hidden;
        }


#wrapper { 
	width:160%; 
	height:800px; 
	border:1px 
	solid green; 
	display:inline-block; 
	}

#menu { 
	width:50%; 
	height:100%; 
	background-color:yellow; 
	display:inline-block;
	}

#content {
	width:49%; 
	height:100%; 
	background-color:purple; 
	display:inline-block;
}