body,html {
    margin:0;
    height:100%;
    width:100%;
}

body {
    font-family: 'Open Sans';
    overflow: hidden;
}

 p {
 	font-size: 2.5em;
 	font-weight: 300;
 	line-height: 2em;

 }

a {
	font-weight: 600;
	color:green;
	text-decoration: underline;
}

img {
	height:3em;
	width:auto;
	vertical-align: middle;
}


#menu {
	position:fixed;
	bottom:0;
	width:100%;
	max-width: 800px;
	background-color: green;
	padding:0.5em 0;
}

nav {
	text-align:center;
}

nav a{
	display:inline-block;
	font-weight:300;
	font-size: 1em;
	line-height:1em;
	color:white;
	text-decoration: none;
}



#wrapper {
	width:160%;
	border:1px
	solid green;
	display:inline-block;
	}

#main-wrapper {
	width:50%;
	background-color:yellow;
	display:inline-block;
	}

#main-wrapper p {
	margin-left: 1em;
	margin-right: 1em;
}

#sub-wrapper {
	width:49%;
	background-color:purple;
	display:inline-block;
	vertical-align: top;
}


